@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 16px;
    background-color: #f2f2f2;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    /* Ukuran font yang lebih besar */
    font-weight: bold;
    /* Membuat teks menjadi tebal */
    color: #0072BC;
    /* Mengubah warna teks menjadi biru serasi dengan tombol */
    letter-spacing: 1px;
    /* Menambahkan sedikit jarak antara huruf */
}

.toolbar h1 {
    margin-right: 20px;
    /* Menambahkan jarak antara judul dan elemen lainnya di toolbar */
}

.toolbar-right {
    display: flex;
    align-items: center;
}

#addRuleSet {
    background-color: #0072BC;
    /* Warna biru CMYK (95,20,0,0) */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    /* Menambahkan jarak antara tombol dan kotak pencarian */
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.burger-menu {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.burger-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.burger-dropdown button {
    background: none;
    border: none;
    padding: 8px 16px;
    text-align: left;
    cursor: pointer;
}

.burger-dropdown button:hover {
    background-color: #f1f1f1;
}

.editable-cell {
    border: 1px solid #000 !important;
}

.no-border {
    border: none !important;
}

#nameField,
#conditionField,
#actionField {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#atributeField,
#labelField,
#typeField {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#bodySection {
    margin-top: 32px;
}

#bodyField {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#bodyColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

#dropdownColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

#deleteButton {
    margin-top: 8px;
}

#conditionSection {
    margin-top: 0%;
    margin-bottom: 16px;
}

.condition-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 0;
}