/* Home.css */
.layout {
    padding: 20px;
}

/* ... */

/* Gaya tombol detail dan delete */
.detail,
.delete {
    background-color: #3085d6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto; /* Menggeser tombol ke tengah vertikal */
    margin-bottom: auto; /* Menggeser tombol ke tengah vertikal */
}

.detail:hover {
    background-color: #1f69c6;
}

.delete {
    background-color: #e74c3c;
    margin-left: 10px; /* Memberikan jarak antara tombol delete dan detail */
}

.delete:hover {
    background-color: #c0392b;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.addRuleButton {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.resetButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px; /* Memberikan jarak antara tombol reset dan tombol tambah data */
}

.title {
    font-size: 1.5rem;
    margin: 0;
}

.titleWrapper {
    display: flex;
    align-items: center;
    flex: 1; /* This will make the title take up remaining space */
}


/* ... other styles ... */
/* ... */
.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .addRuleButton {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .resetButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px; /* Memberikan jarak antara tombol reset dan tombol tambah data */
  }
  

  /* DetailPage.module.css */
.container {
  padding: 20px;
}

.detailCard {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
}

.detailTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailDescription {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.detailInfo {
  font-size: 14px;
  color: #888;
}

.backButton {
  display: inline-block;
  background-color: #3085d6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.backButton:hover {
  background-color: #1f69c6;
}
